h6{
    margin-top: 3em;
    font-size: 110%;
    color: gray;
    font-weight: lighter;
}
p{
    margin: 3em auto;
    font-size: 80%;
    color: gray;
}
hr{
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}